// _general.scss

$text-common: #333;

$light-text-common: #777;

$light-gray: #d7d4cd;

$gray: #bbb6ac;

$dark-gray: #756f63;

$light-red: #c95b3a;

$red: #C53C2D;

$dark-red: #b02724;

$darker-red: #7f141b;

$other-red: #922f24;

$main-red: $red;

$base-font: 'Noto Sans';

$semi-bold-base-font: 'Noto Sans SemiBold';

$font-size-list-node-title: 20px;
$font-size-common:15px;
$font-size-litle:12px;

//Screen breakpoint
$s-size:27em; 
$m-size:48em; 
$l-size:1024px; 
