a {
  color: #C53C2D; }

/* Parallax FIX */
.parallax-bg {
  display: none; }

body {
  background: #FFF; }

.front #main-wrapper {
  display: none; }
.front h2 {
  margin-bottom: 30px; }

#admin-menu, #admin-menu .dropdown {
  z-index: 100000; }

ul li a:hover,
.item-list ul li a:hover,
ul.menu li a:hover {
  color: #C53C2D; }

.stickup {
  z-index: 500; }

/** HEADER **/
#logo {
  float: left; }

#multislogan {
  float: left;
  margin-top: 14px;
  margin-left: 10px; }
  #multislogan ul {
    margin: 0px; }
    #multislogan ul li {
      color: #756f63;
      text-transform: initial;
      font-size: 15px;
      font-weight: 300;
      margin: 0px;
      padding-left: 5px;
      display: none; }

.i18n-es #multislogan li.es,
.i18n-fr #multislogan li.fr,
.i18n-en #multislogan li.en {
  display: block; }

#slogan {
  border-bottom: 10px solid #C53C2D;
  padding: 20px 0px; }
  #slogan ul {
    margin: 0px; }
    #slogan ul li {
      color: #C53C2D;
      text-transform: initial;
      font-size: 15px;
      margin: 0px;
      display: none;
      text-align: center; }

.i18n-es #slogan li.es,
.i18n-fr #slogan li.fr,
.i18n-en #slogan li.en {
  display: block; }

#header .header-box {
  width: 7%;
  margin-right: 2%;
  height: 45px;
  position: relative;
  float: left;
  z-index: 99999; }

#header .header-box:nth-child(1) {
  background-color: #756f63; }

#header .header-box:nth-child(2) {
  background-color: #bbb6ac; }

#header .header-box:nth-child(3) {
  background-color: #d7d4cd; }

#header .header-box:nth-child(4) {
  background-color: #c95b3a; }

#header .header-box:nth-child(5) {
  background-color: #C53C2D; }

.region-header-top {
  background-color: #b02724;
  margin-bottom: 0px;
  padding: 8px 0 8px 275px;
  float: right;
  width: 55%;
  box-sizing: border-box;
  z-index: 99999; }

#block-tm-follow-site {
  float: left;
  padding-bottom: 0px; }

.tm-follow-links .tm-follow-link-wrapper {
  float: left;
  font-size: 20px; }

.tm-follow-links .tm-follow-link-this-site {
  display: none; }

.tm-follow-links .tm-follow-link-wrapper a:hover {
  color: #bbb6ac; }

.region-header-top #block-search-form {
  width: 150px;
  float: left;
  margin-left: 15px;
  padding-bottom: 0px; }

#block-search-form .block-content form {
  background: none; }

#block-search-form #search-block-form input.form-text,
#block-search-form [id^="search-block-form"] input.form-text {
  height: 28px;
  padding: 5px 35px 5px 5px;
  background: #b05f5f; }

#block-search-form #search-block-form [id^=edit-actions]:after,
#block-search-form [id^="search-block-form"] [id^=edit-actions]:after {
  color: white;
  line-height: 28px; }

#block-locale-language {
  float: left;
  padding: 0; }

#block-locale-language .language-switcher-locale-url {
  margin: 10px 0 0 5px; }

#block-locale-language .block-title {
  display: none; }

#block-locale-language .language-switcher-locale-url li {
  background: none;
  margin: 0;
  padding: 0;
  float: left;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 10px;
  color: #bbb6ac; }

#block-locale-language .language-switcher-locale-url li a:hover,
#block-locale-language .language-switcher-locale-url li.active a {
  color: #FFF; }

.logo img {
  height: 80px; }

.header-section-1 {
  padding: 0px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2); }

.header-section-1 .grid-12 {
  padding: 10px 0px; }

.header-section-1 .col1 {
  padding: 0px; }

.header-section-1 .col2 {
  padding-top: 55px; }

/** MENU **/
#superfish-1 > li {
  font-family: 'Exo', sans-serif; }

#superfish-1 > li {
  margin: 0 0 0 15px; }

.header-section-1 {
  background-color: white; }

#superfish-1 > li > a {
  color: #333; }

#superfish-1 > li > a:hover,
#superfish-1 > li > a.active,
#superfish-1 > li.active-trail > a,
#superfish-1 > li.sfHover > a {
  color: #C53C2D; }

#superfish-1 > li ul {
  top: 30px;
  background: #C53C2D;
  width: 140px !important; }

#superfish-1 > li ul li > a:hover, #superfish-1 > li ul li.active-trail > a, #superfish-1 > li ul li.sfHover > a {
  color: #bbb6ac; }

/** SLIDER **/
.view-slider .slider-darkred-background {
  height: 35%;
  position: absolute;
  width: 100%;
  top: 44%;
  background-color: #918c82 !important;
  background-color: rgba(117, 111, 99, 0.8) !important; }

.view-slider .inner {
  width: 60%;
  background-image: none !important;
  background-color: #d16357 !important;
  background-color: rgba(197, 60, 45, 0.8) !important; }

.view-slider .flex-caption .container-12 {
  top: 63% !important;
  left: 55%; }

.view-slider .flex-caption .style-1 p {
  color: white;
  font-size: 18px;
  line-height: 24px; }

.view-slider .flex-caption h2.title-1 a {
  display: inline-block;
  font-size: 26px;
  line-height: 30px; }

.view-slider .flex-caption h2.title-1 {
  margin-bottom: 5px !important;
  margin-top: 5px !important; }

/* Ver el width en los distintos quiebres para que siempre quede como el contenido */
.flex-direction-nav {
  width: 1170px;
  position: absolute;
  top: 58%;
  padding: 15px;
  z-index: 99;
  left: calc(50% - 600px); }

.flex-direction-nav a {
  position: initial; }

.flex-direction-nav a.flex-prev {
  float: left; }

.flex-direction-nav a.flex-next {
  float: right; }

.flex-direction-nav a:before {
  color: white; }

.view-slider .flex-control-nav li a {
  background-color: #bbb6ac; }

.view-slider .flex-control-nav {
  bottom: 15px;
  left: 70%;
  display: inline-block;
  width: auto; }

@media (max-width: 1500px) {
  .view-slider .flex-control-nav {
    bottom: 15px; } }
.view-slider .flex-control-nav li a:hover,
.view-slider .flex-control-nav li a.flex-active {
  background-color: #C53C2D; }

.view-slider ul li a:hover {
  color: #bbb6ac;
  text-decoration: none; }

.view-slider .views-field-field-image {
  margin-bottom: 0px; }

#block-views-slider-block,
#section_1_wrapper {
  border-bottom: 10px solid #C53C2D; }

/** SECTION 1 **/
.block-views-block-1-block .block-title {
  color: #C53C2D;
  margin-bottom: 80px; }

#section_1_wrapper {
  background: url(../images/section1-bg.jpg) center center repeat #97a78c;
  background-size: cover;
  margin-top: 90px; }

#section_1_wrapper .region-section-1 {
  padding: 25px 0 14px;
  margin-top: -90px; }

.view-block-1 .views-row {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  height: 370px;
  padding: 55px 30px 55px; }

.view-block-1 .views-row:hover {
  background: #FFF; }

.view-block-1 .views-row h3 {
  color: #C53C2D;
  min-height: 120px;
  text-transform: initial;
  line-height: 1.2em;
  font-weight: 500; }

/** SECTION 3 **/
#section_3_1_wrapper,
#section_5_wrapper,
#section_4_2_wrapper {
  border-bottom: 70px solid #C53C2D; }

#section_3_1_wrapper .block-title {
  color: #C53C2D;
  margin: 0px; }

.region-section-3-1, .region-section-3-2, .region-section-4, .region-section-5 {
  padding: 25px 0px 5px; }

#section_3_2_wrapper h5 a:hover {
  color: #756f63; }

.block-views-block-3-2-1-block .block-title,
.block-views-block-3-2-2-block .block-title {
  font: 500 30px/1em 'Exo', sans-serif; }

.block-views-block-3-2-3-block {
  clear: both;
  padding-top: 10px; }

.block-views-block-3-2-3-block .block-title {
  color: #C53C2D; }

/*** BLOQUE ACTIVIDADES HOME ***/
#section_3_2_wrapper {
  border-bottom: 70px solid #c95b3a; }

#section_3_3_wrapper {
  border-bottom: 70px solid #756f63; }

.view-actividades-home .views-row,
.view-otras-actividades-home .views-row {
  background: #FFF;
  padding: 30px 50px 35px 90px;
  position: relative;
  line-height: 20px;
  margin: 0 0 20px;
  box-sizing: border-box;
  min-height: 150px; }
  .view-actividades-home .views-row p,
  .view-otras-actividades-home .views-row p {
    margin: 0;
    color: #333;
    font-size: 12px;
    line-height: 14px; }
  .view-actividades-home .views-row h5,
  .view-otras-actividades-home .views-row h5 {
    margin: 0 0 3px;
    color: #c95b3a;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 15px; }
.view-actividades-home .views-field-field-image,
.view-otras-actividades-home .views-field-field-image {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  opacity: 0.1;
  left: 0;
  -webkit-transition: opacity 1s;
  /* Safari */
  transition: opacity 1s;
  overflow: hidden; }
  .view-actividades-home .views-field-field-image .field-content,
  .view-otras-actividades-home .views-field-field-image .field-content {
    height: 100%; }
    .view-actividades-home .views-field-field-image .field-content img,
    .view-otras-actividades-home .views-field-field-image .field-content img {
      min-height: 100%; }
.view-actividades-home .views-row:hover .views-field-field-image,
.view-otras-actividades-home .views-row:hover .views-field-field-image {
  opacity: 0.3; }
.view-actividades-home .views-field-view-node a,
.view-otras-actividades-home .views-field-view-node a {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 100%;
  background: #756f63;
  overflow: hidden;
  text-indent: -9999px;
  color: #fff; }
  .view-actividades-home .views-field-view-node a:hover,
  .view-otras-actividades-home .views-field-view-node a:hover {
    color: #756f63; }
  .view-actividades-home .views-field-view-node a:after,
  .view-otras-actividades-home .views-field-view-node a:after {
    text-indent: 0;
    content: '\f105';
    font-family: FontAwesome;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -5px; }
.view-actividades-home .post-date,
.view-otras-actividades-home .post-date {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
  padding: 17px 10px;
  background: #756f63;
  text-align: center; }
  .view-actividades-home .post-date .no_date,
  .view-otras-actividades-home .post-date .no_date {
    display: inline-block;
    background: url(../images/icon_calendar.png) no-repeat center center;
    height: 55px;
    width: 55px;
    background-size: 55px;
    margin-top: 20px; }
  .view-actividades-home .post-date div,
  .view-otras-actividades-home .post-date div {
    font: 300 18px/1.1em 'Exo', sans-serif;
    color: #FFF;
    text-transform: uppercase; }
  .view-actividades-home .post-date .day,
  .view-otras-actividades-home .post-date .day {
    font-size: 40px;
    font-weight: bold; }
  .view-actividades-home .post-date .year,
  .view-otras-actividades-home .post-date .year {
    font-size: 20px;
    padding: 15px 0 0;
    position: absolute;
    bottom: 35px; }

#section_3_2_wrapper .post-date {
  background-color: #C53C2D; }
#section_3_2_wrapper .views-field-view-node a {
  background-color: #C53C2D; }
#section_3_2_wrapper .views-row h5 {
  color: #C53C2D; }

#section_3_3_wrapper .post-date {
  background-color: #c95b3a; }
#section_3_3_wrapper .views-field-view-node a {
  background-color: #c95b3a; }

/** SOLO BLOQUE OTRAS ACTIVIDADES **/
.region-section-4 {
  margin-top: -95px; }

.view-otras-actividades-home .views-row {
  padding: 30px 50px 35px 20px;
  margin: 0 15px; }
.view-otras-actividades-home .categoria-actividad a {
  color: #C53C2D;
  text-transform: uppercase; }
.view-otras-actividades-home .views-field-view-node a:hover {
  color: #C53C2D; }

.block-views-block-3-2-2-block .block-title,
#block-views-video-slider-block .block-title,
.facebook-block .block-title,
.block-views-block-3-2-1-block .block-title,
#block-views-blog-home-block .block-title,
.block-twitter-block .block-title,
.region-section-4 .block-title {
  font: 600 30px/1em 'Exo', sans-serif;
  height: 70px;
  position: relative;
  color: #FFF; }
  .block-views-block-3-2-2-block .block-title span,
  #block-views-video-slider-block .block-title span,
  .facebook-block .block-title span,
  .block-views-block-3-2-1-block .block-title span,
  #block-views-blog-home-block .block-title span,
  .block-twitter-block .block-title span,
  .region-section-4 .block-title span {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.node-type-publication #section_8_wrapper .block-title,
.node-type-activities #section_8_wrapper .block-title {
  font: 600 30px/1em 'Exo', sans-serif;
  height: 70px;
  position: relative;
  color: #FFF; }
  .node-type-publication #section_8_wrapper .block-title span,
  .node-type-activities #section_8_wrapper .block-title span {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.block-twitter-block .block-title,
.facebook-block .block-title {
  padding-top: 20px;
  box-sizing: border-box; }

.block-views-block-3-2-1-block,
#block-views-blog-home-block,
.block-twitter-block {
  margin-top: -95px; }

.block-views-block-3-2-2-block,
#block-views-video-slider-block,
.facebook-block {
  margin-top: -70px; }

/** SECTION 4 **/
.block-views-block-4-block {
  margin-top: -52px; }

.view-block-4 .slick--carousel .header {
  height: 30px;
  overflow: hidden;
  color: #756f63;
  text-align: right; }

.view-block-4 .slick--carousel .header .fa {
  margin-right: 5px; }

.view-block-4 .slick--carousel .views-field-nothing {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.view-block-4 .slick--carousel .title {
  padding: 45px 45px 20px 45px;
  margin-bottom: 40px;
  display: block;
  height: 160px;
  margin-top: -30px;
  line-height: 160px;
  color: #48788C;
  border-color: #48788C;
  vertical-align: middle;
  border-left: 35px solid; }

.view-block-4 .slick--carousel .title a {
  line-height: 18px;
  display: inline-block;
  font-size: 16px; }

.view-block-4 .slick--carousel .title a:hover {
  color: #756f63; }

.view-block-4 .slick--carousel .footer {
  background: #756f63;
  padding: 15px 45px; }

.view-block-4 .slick--carousel .footer span {
  display: block; }

.view-block-4 .footer span.autor {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px; }

.view-block-4 .footer span.date {
  font-size: 11px; }

.view-block-4 .footer span.date span {
  display: inline-block; }

.view-block-4 .slick-dots {
  display: none !important; }

.view-block-4 .slick-dotted.slick-slider {
  margin-bottom: 0px; }

.slick-arrow::before {
  color: #C53C2D; }

.slick-arrow:hover::before {
  color: #756f63; }

/** SECTION 5 ***/
/*
.view-block-4 .slick--center .slide__content {
	overflow: initial;
}

.view-block-4 .slick__slide.slick-current li .grid__content{
    background-color: $light-gray;
    border:solid 2px $main-red;
    -webkit-box-shadow: 0px 0px 47px 7px rgba(176,38,36,1);
    -moz-box-shadow: 0px 0px 47px 7px rgba(176,38,36,1);
    box-shadow: 0px 0px 70px 0px rgba(176,38,36,1);
}*/
/** SECTION 6 **/
.region-section-6 {
  padding: 40px 0;
  margin-top: -94px; }

.block-views-block-4-block {
  position: relative; }

.block-views-block-4-block .goto-subhome {
  position: absolute;
  color: transparent;
  top: -8px;
  right: 250px;
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  padding-top: 10px;
  text-align: center;
  /*background-color:#bbb6ac;*/
  background-color: #FFF;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px; }

.block-views-block-4-block .goto-subhome:before {
  content: "\f105";
  font: normal 40px/60px FontAwesome;
  color: #C53C2D;
  font-size: 50px;
  line-height: 30px;
  font-weight: bold;
  display: block; }

.block-views-block-4-block .goto-subhome:hover:before {
  color: #756f63;
  text-decoration: none; }

.block-views-block-4-block .block-title {
  color: #FFF;
  margin-bottom: 14px; }

.block-views-blog-home-block .views-row-odd {
  background-color: #756f63; }

.block-views-blog-home-block .views-row-even {
  background-color: #bbb6ac; }

.block-views-blog-home-block .views-row:hover {
  background-color: #5e574a; }

.block-views-blog-home-block .views-row:last-child {
  border-bottom: none; }

.block-views-blog-home-block .views-row {
  padding: 30px 30px 10px 30px;
  margin-bottom: 10px; }
.block-views-blog-home-block .blog_autor {
  float: left;
  width: 20%; }
  .block-views-blog-home-block .blog_autor img {
    display: block;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px; }
.block-views-blog-home-block .block-views-blog-home-block .blog_autor span {
  display: block; }
.block-views-blog-home-block .blog_content {
  float: left;
  width: 80%;
  padding-left: 30px;
  box-sizing: border-box;
  z-index: 2;
  position: relative; }
  .block-views-blog-home-block .blog_content .title a {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #FFF;
    margin: 10px 0;
    display: inline-block;
    margin: 10px 0px; }
    .block-views-blog-home-block .blog_content .title a:hover {
      color: #C53C2D;
      text-decoration: none; }
  .block-views-blog-home-block .blog_content .category a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px; }
    .block-views-blog-home-block .blog_content .category a:hover {
      color: #C53C2D;
      text-decoration: none; }
.block-views-blog-home-block .blog_image {
  width: 80%;
  margin-left: 20%;
  padding-left: 30px; }

.block-views-blog-home-block .blog_autor span.autor {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block; }

.block-views-blog-home-block .blog_content p {
  font-size: 20px;
  color: #FFF;
  display: inline-block;
  margin-top: 20px;
  display: none; }

.view-video-slider .flex-direction-nav {
  width: initial;
  width: 100%;
  top: 60%;
  padding: 0px;
  left: 0; }

.view-video-slider {
  color: #333; }
  .view-video-slider .flex-caption {
    padding: 0 30px; }
  .view-video-slider .title-1 {
    color: #c95b3a;
    font-size: 20px;
    margin-bottom: 20px; }
  .view-video-slider .style-1 p {
    color: #333;
    font-size: 15px;
    line-height: 15px;
    height: 100px; }

.view-video-slider .flex-direction-nav a:before,
.view-video-slider .flex-direction-nav a:after {
  color: #756f63; }

.view-video-slider .flexslider .flex-next,
.view-video-slider .flexslider .flex-prev {
  opacity: 1;
  display: block; }

.view-video-slider .flexslider .slides .field-content {
  text-align: center; }

/** SECTION 7 **/
#section_7_wrapper {
  background-color: #C53C2D; }

.region-section-7 {
  padding: 30px 0px; }

.block-tagclouds {
  padding: 0 50px;
  box-sizing: border-box; }

.block-tagclouds a {
  color: #FFF;
  text-transform: capitalize;
  padding: 0 4px; }

.block-tagclouds a:hover {
  text-decoration: none;
  color: #756f63; }

/** SECTION 8 **/
.region-section-8 {
  padding: 30px 0px; }

.region-section-8 .view-contenido-relacionado .view-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.region-section-8 .view-contenido-relacionado .view-content:after {
  width: 0px; }

.region-section-8 .view-contenido-relacionado .views-row {
  border-right: solid 1px #C53C2D;
  box-sizing: border-box;
  padding: 15px; }

.region-section-8 .view-contenido-relacionado .views-row:last-child {
  border-right: none; }

.region-section-8 .block-title,
.region-section-8 .view-contenido-relacionado .views-field-title {
  color: #C53C2D; }

.region-section-8 .view-contenido-relacionado .views-field-title {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 20px; }

.region-section-8 .view-contenido-relacionado .views-field-body {
  color: #000;
  font-size: 20px;
  line-height: 20px; }

.region-section-8 .view-contenido-relacionado .views-field-view-node a {
  font-size: 0px;
  color: transparent;
  content: ''; }

.region-section-8 .view-contenido-relacionado .views-field-view-node a:after {
  float: right;
  display: inline-block;
  color: #FFF;
  font-family: FontAwesome;
  content: '\f105';
  padding: 15px;
  font-size: 28px;
  background-color: #C53C2D; }

.region-section-8 .view-contenido-relacionado .views-field-view-node a:hover:after {
  background-color: #756f63; }

/* PAGINA TAXONOMIA */
.page-taxonomy .node-title {
  color: #C53C2D; }

.page-taxonomy .node-content {
  color: #000; }

/* PAGINA BLOG */
.block-views-blog-block .block-title,
.block-views-blog-block-1 .block-title {
  color: #C53C2D; }
.block-views-blog-block .view-header,
.block-views-blog-block-1 .view-header {
  color: #333;
  font-size: 15px; }
.block-views-blog-block .views-field,
.block-views-blog-block-1 .views-field {
  margin-bottom: 5px; }
.block-views-blog-block .views-field-field-image img,
.block-views-blog-block-1 .views-field-field-image img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  float: left;
  width: 200px;
  margin-right: 15px; }
.block-views-blog-block .views-field-title,
.block-views-blog-block-1 .views-field-title {
  font-size: 20px;
  margin-bottom: 15px; }
  .block-views-blog-block .views-field-title a,
  .block-views-blog-block-1 .views-field-title a {
    color: #C53C2D; }
.block-views-blog-block .views-field-created,
.block-views-blog-block .views-field-body,
.block-views-blog-block-1 .views-field-created,
.block-views-blog-block-1 .views-field-body {
  color: #333;
  font-size: 15px; }
.block-views-blog-block .views-row-odd,
.block-views-blog-block-1 .views-row-odd {
  clear: both; }

/* PAGINA MIEMBROS */
.members-view .block-title {
  margin-bottom: 0px; }

.members-view li {
  padding: 0px; }

.members-view .grid-2 {
  width: 204px;
  height: 250px; }

.members-view .views-field-field-photo {
  text-align: center; }

.members-view .views-field-field-photo img:not(.lazyloader-icon) {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 10px; }

.members-view .views-field-title,
.members-view .views-field-field-role {
  color: #756f63;
  text-align: center;
  text-transform: capitalize;
  font-size: 16px; }

.members-view .views-field-field-role {
  font-weight: 300;
  font-size: 12px; }

/* EL IRG */
.irg-view .views-row {
  height: auto;
  padding: 0px; }

.irg-view .views-row.even .grid-4 {
  float: right; }

.irg-view .image {
  text-align: center; }

.irg-view .image img {
  width: 300px;
  height: 300px;
  border-radius: 50% !important;
  overflow: hidden;
  margin: auto;
  border: none; }

.irg-view .reference {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 10px; }

.irg-view .reference a {
  color: #bbb6ac;
  font-style: italic; }

.irg-view .grid-8 h2 {
  color: #C53C2D;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: none;
  text-align: left; }

.irg-view .grid-8 p {
  color: #756f63; }

/** FOOTER **/
#footer_top_wrapper .block-title {
  font-size: 24px;
  margin-bottom: 40px; }

#footer {
  background-color: #111216; }

#footer .logo-footer {
  padding-top: 60px;
  background: url(../images/logo.png) no-repeat top left;
  background-size: 66px; }

#footer .block-tm-follow {
  text-align: center; }

#footer .block-tm-follow .tm-follow-links {
  display: inline-block; }

#footer_top_wrapper .tm-follow-links .tm-follow-link-wrapper {
  margin-left: 10px; }

#footer_top_wrapper .tm-follow-links .tm-follow-link-wrapper a {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: #202020;
  font-size: 30px;
  line-height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px; }

#footer_top_wrapper .tm-follow-links .tm-follow-link-wrapper a:hover {
  color: #FFF;
  background-color: #C53C2D; }

form.simple-subscription-empty #edit-input {
  border: none; }

/** ETC **/
#backtotop {
  box-shadow: 0 0 0 4px #C53C2D; }

#backtotop:before {
  background-color: #C53C2D; }

#backtotop:hover:after {
  color: #756f63; }

#backtotop:hover {
  box-shadow: 0 0 0 4px #756f63; }

.btn a, .more-link a,
input[type="submit"],
input[type="reset"],
ul.links li a,
.view-portfolio .views-field-view-node a,
#block-poll-recent ul.links li a,
#filters li a,
.content ul.pager li a,
.content ul.pager li.pager-current,
.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a,
.form-submit {
  background: #C53C2D; }

.btn a:hover,
.more-link a:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
ul.links li a:hover,
.view-portfolio .views-field-view-node a:hover,
#block-poll-recent ul.links li a:hover,
#filters li a:hover,
.content ul.pager li a:hover
.content ul.pager li.pager-current:hover,
.view .date-nav-wrapper .date-prev a:hover,
.view .date-nav-wrapper .date-next a:hover,
.form-submit {
  background: #bbb6ac; }

.view-slider .flex-caption .inner {
  padding: 30px 20px 10px 20px !important; }

@media (max-width: 1500px) {
  .view-slider .flex-caption .inner {
    padding: 30px 20px 10px 20px !important; } }
/** NODE **/
.page-node #node-header {
  position: relative; }

/* Achicar o agrandar segun tamano slider*/
.page-node #node-header #node-header-img {
  /*opacity: 0.5;*/
  background-size: cover;
  width: 100%;
  /*padding-bottom: 33%;*/
  padding-bottom: 22%;
  box-sizing: border-box;
  position: relative;
  background-position: center center; }

.page-node #node-header #node-header-img::after {
  content: "";
  background: #bbb6ac;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; }

.node-type-publication.page-node #node-header > * {
  z-index: 10; }

/*.page-node #node-header {
	display:block;
	background-color:#fbf5f5;
	position:relative;
	height:600px;
	width:100%;
}*/
.page-node #node-header .node-darkred-background {
  height: 35%;
  position: absolute;
  width: 100%;
  top: 44%;
  background-color: #918c82 !important;
  background-color: rgba(117, 111, 99, 0.8) !important; }

.main-wrapper {
  background: none; }

#main {
  padding: 0px; }

.page-node #node-header .node-title {
  background-color: #d16357 !important;
  background-color: rgba(197, 60, 45, 0.8) !important;
  height: 135px;
  padding: 10px 30px;
  margin-top: -30px; }

.page-node #node-header .node-title h3 {
  font-size: 18px;
  font-family: Exo;
  margin-bottom: 8px; }

.page-node #node-header .node-title h2 {
  text-transform: initial;
  text-align: left;
  margin-top: 35px;
  font-size: 26px; }

.page-node #content .node-content {
  color: #000; }

/** SKELETON FIXES **/
.grid-12 .grid-8 {
  width: 690px; }

.grid-12 .grid-6 {
  width: 555px; }

.grid-12 .grid-5 {
  width: 457.5px; }

.grid-12 .grid-4 {
  width: 360px; }

.grid-12 .grid-3 {
  width: 262.5px; }

.grid-12 .grid-2 {
  width: 164px; }

.grid-12 .grid-3 {
  /*diferencia de 28px */ }
  .grid-12 .grid-3.block-twitter-block, .grid-12 .grid-3.facebook-block {
    width: 234.5px; }

.grid-12 .grid-5#block-views-block-3-2-2-block, .grid-12 .grid-5#block-views-block-3-2-1-block {
  width: 485.5px; }

.grid-10.container,
.grid-9.container {
  float: none;
  margin: 0 auto;
  display: block; }

.container-12 .grid-9 .grid-3 {
  width: 260px; }

/*** SUB HOME ***/
.subhome .page-title {
  height: 60px;
  background-color: #C53C2D;
  color: white;
  line-height: 50px; }

.subhome #section_2_wrapper {
  border-bottom: 10px solid #C53C2D; }

.subhome .region-section-2 {
  padding: 0px; }

.subhome .view-taxonomies-subhome .views-row {
  margin-bottom: 0px;
  min-height: 290px; }
  .subhome .view-taxonomies-subhome .views-row .views-field-counter a {
    color: white;
    font-size: 60px;
    padding-top: 50px; }
    .subhome .view-taxonomies-subhome .views-row .views-field-counter a:hover {
      text-decoration: none; }
.subhome .view-taxonomies-subhome a {
  background-color: #C53C2D;
  -moz-border-radius: 110px;
  -webkit-border-radius: 110px;
  border-radius: 110px;
  display: inline-block !important;
  height: 150px;
  padding: 32px 0;
  box-sizing: border-box;
  width: 150px; }
.subhome .view-taxonomies-subhome.numbers a {
  height: 115px;
  width: 115px; }

.subhome .view-taxonomies-subhome .views-row {
  text-align: center; }

.subhome .view-taxonomies-subhome .views-row a:hover {
  background-color: #bbb6ac; }

.subhome .view-taxonomies-subhome .views-row .views-field-name-i18n span {
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #C53C2D;
  display: inline-block;
  margin-top: 30px; }

.subhome .view-taxonomies-subhome .grid-3 {
  padding: 25px;
  box-sizing: border-box; }

/* documents */
.subhome #section_5_wrapper {
  border-bottom: none; }

.subhome .documents {
  border-bottom: 1px dashed #d7d4cd;
  padding-bottom: 0px;
  margin-bottom: 20px; }

.subhome .documents:last-child {
  border-bottom: none; }

.subhome .documents .block-title {
  color: #756f63;
  margin-bottom: 0px; }

.subhome .documents .slick--carousel .title {
  margin-top: 0px;
  padding: 20px 45px 20px 45px;
  margin-bottom: 20px; }

.subhome .documents .slick--center .slick-track {
  padding-bottom: 0px; }

/*** PAGINA INDIVIDUAL ***/
.node-type-publication #section_8_wrapper,
.node-type-activities #section_8_wrapper {
  border-top: 70px solid #C53C2D; }
  .node-type-publication #section_8_wrapper .region-section-8,
  .node-type-activities #section_8_wrapper .region-section-8 {
    margin-top: -100px; }

/* miembro */
.node-type-miembro #node-header-img {
  background-image: url(../images/collectif-irg.jpg);
  background-position: center center; }
.node-type-miembro .field-name-field-photo {
  float: left; }
  .node-type-miembro .field-name-field-photo img {
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    border-radius: 150px;
    width: 300px;
    height: 300px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.node-type-miembro .field-name-field-area {
  overflow: initial;
  margin-left: 325px; }
  .node-type-miembro .field-name-field-area .links {
    margin-bottom: 10px; }
    .node-type-miembro .field-name-field-area .links li {
      float: none; }
      .node-type-miembro .field-name-field-area .links li a {
        color: #C53C2D;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 14px; }
  .node-type-miembro .field-name-field-area.clearfix:after {
    clear: none; }
.node-type-miembro .field-name-field-role {
  font-size: 14px;
  color: #756f63;
  margin-bottom: 10px;
  margin-left: 325px;
  text-transform: uppercase;
  font-style: italic; }
.node-type-miembro .field-name-field-descripcion {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  margin-left: 325px; }

/* videos */
.node-type-video-interview .field-name-field-fecha {
  font-size: 14px;
  color: #756f63;
  text-transform: uppercase; }
.node-type-video-interview .field-name-body {
  font-size: 14px;
  color: #333; }
.node-type-video-interview .field-name-field-video {
  float: left;
  margin-right: 25px; }
  .node-type-video-interview .field-name-field-video iframe {
    width: 550px !important;
    height: 308px !important; }

/* actividad */
.node-type-activities .field-name-field-type .links {
  margin-bottom: 10px; }
  .node-type-activities .field-name-field-type .links a {
    color: #C53C2D;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px; }
.node-type-activities .field-name-field-fecha {
  font-size: 14px;
  color: #756f63;
  text-transform: uppercase; }
.node-type-activities .field-name-body {
  font-size: 14px;
  color: #333; }

/* publicacion */
.node-type-publication .field-name-field-report-type {
  overflow: initial; }
  .node-type-publication .field-name-field-report-type .links {
    margin-bottom: 10px; }
    .node-type-publication .field-name-field-report-type .links li {
      float: none; }
      .node-type-publication .field-name-field-report-type .links li a {
        color: #C53C2D;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 14px; }
  .node-type-publication .field-name-field-report-type.clearfix:after {
    clear: none; }
.node-type-publication .field-name-field-imagen-portada {
  float: left;
  width: 550px;
  margin-right: 25px img;
    margin-right-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.node-type-publication .field-name-field-fecha {
  font-size: 14px;
  color: #756f63;
  text-transform: uppercase; }
.node-type-publication .field-name-body {
  font-size: 14px;
  color: #333; }

/* publicacion */
.node-type-blog .field-name-field-blog-type {
  overflow: initial; }
  .node-type-blog .field-name-field-blog-type .links {
    margin-bottom: 10px; }
    .node-type-blog .field-name-field-blog-type .links li {
      float: none; }
      .node-type-blog .field-name-field-blog-type .links li a {
        color: #C53C2D;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 14px; }
  .node-type-blog .field-name-field-blog-type.clearfix:after {
    clear: none; }
.node-type-blog .field-name-field-image {
  float: left;
  width: 550px;
  margin-right: 25px; }
  .node-type-blog .field-name-field-image img {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.node-type-blog .field-name-body {
  font-size: 14px;
  color: #333; }

/****** NEWSLETTER ******/
.view-newsletter {
  font-size: 18px; }
  .view-newsletter .views-field-field-fecha {
    font-size: 20px;
    float: left;
    color: #756f63;
    margin-right: 5px;
    text-transform: uppercase; }
  .view-newsletter .views-field-field-fecha-1 {
    font-size: 20px;
    float: left;
    color: #756f63;
    margin-right: 10px;
    text-transform: uppercase; }

/*# sourceMappingURL=geneos.css.map */
